<li>
	<h3><img src="https://img.icons8.com/officexs/16/000000/hamburger.png"> {{burger_name}}</h3>
	
	<button class="btn change-devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour{{else}}DEVOURED!{{/if}}
	</button>
</li>